.mobile {
    visibility: collapse;
    position: absolute;
}

@media only screen and (max-width: 712px) {
    .desktop {
        visibility: collapse;
    }
    .mobile {
        visibility: visible;
    }
.dayss{
    background-image: url(/dayss.png);
    background-size: cover;
}

.nightss{
    background-image: url(/nightss.png);
    background-size: cover;
}