.mobile {
    visibility: collapse;
    position: absolute;
}

@media only screen and (max-width: 712px) {
    .desktop {
        visibility: collapse;
    }
    .mobile {
        visibility: visible;
    }
}